/* botão */
.botao-realce {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: green;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* efeito ao passar o mouse */
.botao-realce:hover {
    background-color: greenyellow;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

/* efeito do clique */
.botao-realce:active {
    background-color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    transform: scale(0.98);
}
